.container {
  width: 320px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px 7px 15px 7px;
  border-radius: 20px;
  /* background: #edeff6;
  box-shadow: 0px 52px 14px 0px rgba(110, 110, 110, 0),
    0px 33px 13px 0px rgba(110, 110, 110, 0.01),
    0px 19px 11px 0px rgba(110, 110, 110, 0.05),
    0px 8px 8px 0px rgba(110, 110, 110, 0.09),
    0px 2px 5px 0px rgba(110, 110, 110, 0.1); */
}

.title {
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

.fieldTitle {
  color: #000;
  text-align: start;
  font-family: "Tilda Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}

.divField {
  display: flex;
  flex-direction: column;
  padding: 17px 16px 18px 16px;
  margin-bottom: 21px;
  width: 306px;
  border-radius: 20px;
  background: #f8f8f8;
  box-shadow: 0px 52px 14px 0px rgba(110, 110, 110, 0),
    0px 33px 13px 0px rgba(110, 110, 110, 0.01),
    0px 19px 11px 0px rgba(110, 110, 110, 0.05),
    0px 8px 8px 0px rgba(110, 110, 110, 0.09),
    0px 2px 5px 0px rgba(110, 110, 110, 0.1);
}
.switch {
  display: flex;
  margin-top: 15px;
}

.spanBtn {
  margin-right: 21px;
  color: #000;
  font-family: "Tilda Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}

.switchButton {
  border-radius: 50px;
  background: #d6e0f5;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;
  width: 17px;
  height: 17px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  margin-bottom: 25px;
  &:hover,
  &:focus {
    background-color: #d6e0f5;
  }
}

.switchButton.active::after {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #1b75bb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.divButtons {
  display: flex;
  margin-top: 9px;
  gap: 44px;
}
.buttonBack {
  display: flex;
  width: 115px;
  height: 38px;
  padding: 11px 38px 10px 38px;
  border-radius: 5px;
  background: #0184d6;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.buttonNext {
  display: flex;
  padding: 11px 32px 10px 33px;
  width: 115px;
  height: 38px;
  border-radius: 5px;
  background: #0184d6;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.error{
  color: crimson;
  margin-top: 10px;
  font-size: 14px;

}
.btnSvg {
  margin-left: 6px;
}

@media (min-width: 1440px) {
  .container {
    width: 677px;
    padding: 15px 23px 16px 24px;
  }

  .title {
    font-size: 36px;
  }

  .fieldTitle {
    font-size: 24px;
  }
  .divField {
    width: 630px;
    padding: 18px 24px 35px 24px;
    /* margin-bottom: 130px; */
  }
  .label {
    font-size: 20px;
  }
  .switch {
    align-items: center;
    margin-top: 33px;
    margin-bottom: 27px;
  }
  .spanBtn {
    font-size: 20px;
  }
  .switchButton {
    width: 23px;
    height: 23px;

    margin-bottom: 0;
  }

  .switchButton.active::after {
    width: 15px;
    height: 15px;
  }

  .divButtons {
    gap: 227px;
  }

  .buttonBack {
    width: 179px;
    height: 50px;
    font-size: 24px;
    padding: 11px 55px 10px 56px;
  }

  .buttonNext {
    width: 179px;
    height: 50px;
    font-size: 24px;
    padding: 11px 50px 10px 51px;
  }

  .btnSvg {
    margin-left: 7px;
  }
  .error{
    
    font-size: 20px;
  
  }
}
