.react-tel-input .form-control {
  width: 100% !important;
}
@font-face {
  font-family: "Tilda Sans"; /* Название шрифта */
  src: url("../src/fonts/TildaSans-Light.woff2") format("woff2"),
    /* Современные браузеры */ url("../src/fonts/TildaSans-Light.woff")
      format("woff"); /* Резервный формат */
  font-weight: 400; /* Нормальный вес */
  font-style: normal; /* Обычный стиль */
}

@font-face {
  font-family: "Tilda Sans"; /* Название шрифта */
  src: url("../src/fonts/TildaSans-Regular.woff2") format("woff2"),
    url("../src/fonts/TildaSans-Regular.woff") format("woff");
  font-weight: 600; /* Жирный текст */
  font-style: normal;
}
@font-face {
  font-family: "Tilda Sans"; /* Название шрифта */
  src: url("../src/fonts/TildaSans-Medium.woff2") format("woff2"),
    url("../src/fonts/TildaSans-Medium.woff") format("woff");
  font-weight: 700; /* Жирный текст */
  font-style: normal;
}
.react-tel-input .country-list.country .highlight{
  background: #d6e0f5 !important;
}